html { height: 100%;}

body {
	height: 100%;
	font: 14px/18px 'Times New Roman', Times, sans-serif;
	background-color: #FFF;
}


@font-face {
  font-family: 'NeoSansPro-Regular';
  src: url('../fonts/NeoSansPro-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/NeoSansPro-Regular.woff') format('woff'), url('../fonts/NeoSansPro-Regular.ttf')  format('truetype'), url('../fonts/NeoSansPro-Regular.svg#NeoSansPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}


ol, ul {list-style: none;}

*{
	margin: 0;
	padding: 0;
	outline: none;
	box-sizing: border-box;
}

a, a:hover { text-decoration: none;}


* html .clearfix { zoom: 1; }
*:first-child+html .clearfix { zoom: 2; }


.clearfix {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.clearfix:before,
.clearfix:after{
	content: '';
	display: table;
}

.clearfix:after{clear: both;}

.left {float: left;}
.right {float: right;}
.text-left { text-align: left;}
.text-right { text-align: right;}
.wrapper-main {
    min-width: 960px;    
    margin: 0 auto;
    background: #FFFFFF;
}
 .container {
 	width: 960px;
 	min-width: 960px;
 	margin: 0 auto;
 }

.input-group-addon1 {
  display: inline-block;
background: #ccc;
    padding: 15px 15px;
margin: 12px 0;
}

/*top*/
.top-menu {
  position: fixed;
  background: rgba(10, 160, 0, 0.6);
  width: 100%;
  height: 40px;
  z-index: 109;
}
.top-menu ul li {
  display: inline-block;
  margin: 10px 50px 0 0;
  font: 16px/16px 'Cuprum',sans-serif;
  /*text-transform: uppercase;*/
  text-decoration: underline;
      line-height: 24px;
}
.top-menu ul li:first-child {
margin: 10px 50px 0 50px;
}
.top-menu ul li:last-child {
margin: 10px 0 0 0;
}
.top-menu ul li a {
  color: black;
}
.top-menu ul li a:hover {
  color: white;
}
/*top*/

/*header*/
header {
  padding-top: 45px;
  width: 100%;
  background: white;
  height: 160px;
}
#logo { width: 350px; float: left;}
.head-left {
  float: right;
  
}

.head-left h1{
    font: bold 30px/30px 'NeoSansPro-Regular', sans-serif;
    color: #149206;
    text-align: right;
        letter-spacing: -2px;
}
.head-left p{
    font:  18px/18px 'NeoSansPro-Regular', sans-serif;
    color: black;
    text-align: right;
}
.head-left span{
    font: 18px/18px 'NeoSansPro-Regular', sans-serif;
    color: #0085cf;
    text-align: right;
}
.head-left a{
/*    font: 19px/16px 'Arial', sans-serif;
    color: #0085cf;
    text-align: center;
    float: right;
    padding: 10px;
    background: linear-gradient(to top, #FBDE55,#EFCE0C);
    border-radius: 5px;
    box-shadow: 0px 10px 0px -6px rgba(59,59,59,1);*/


font: 19px/16px 'NeoSansPro-Regular', sans-serif;
    border-radius: 5px;
    behavior: url(border-radius.htc);
    background: #ffe000;
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#ffe000),color-stop(1,#ffd100));
    background: -ms-linear-gradient(bottom,#ffe000,#ffd100);
    background: -moz-linear-gradient(center bottom,#ffe000 0,#ffd100 100%);
    background: -o-linear-gradient(#ffd100,#ffe000);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd100',endColorstr='#ffe000',GradientType=0);
    height: 30px;
    float: right;
    margin-top: 10px;
    padding: 0 20px;
    line-height: 30px;
    color: #000;
    font-size: 18px;
    text-decoration: none;
    border-top: solid 1px transparent;
    border-left: solid 1px transparent;
    border-right: solid 1px transparent;
    border-bottom: solid 1px #757575;
}
.head-left a:hover {
      background: linear-gradient(#FDEA5F,#FDDF55);
}

/*header*/

#main {
  width: 100%;
  height: 645px;

}
#main h1 {
    font: 36px/36px 'NeoSansPro-Regular', sans-serif;
    text-align: center;
    color: black;
      letter-spacing: -2px;
}
#main p {
    font: 24px/24px 'NeoSansPro-Regular', sans-serif;
    text-align: center;
    color: black;
        padding-top: 5px;
          letter-spacing: -2px;
}

.main-bg {
  background: url(../images/bg-main.jpg) no-repeat center;
  width: 100%;
  height: 450px;
    height: 450px;
    margin: 20px 0;
}

.main-bg form {
  background: url(../images/form-bg.png) no-repeat;
    float: right;
    width: 380px;
    height: 416px;
    margin: 14px 10px 0 0;
    padding-top: 20px;
}

#price-list {
text-align: center;
width: 372px;
display: block;
margin: 0 auto;
margin-top: 20px;
font: bold 19px/16px 'NeoSansPro-Regular', sans-serif;
    background: linear-gradient(#FFED6A,#F7D123);
padding: 5px 0;
border-bottom: solid 1px #757575;
cursor: pointer;
color: #010590;
}
#price-list:hover {
    background: linear-gradient(#F7D123,#FFED6A);
}

.main-bg form h3{
  font-size: 24px;
    font: bold 24px/24px 'Cuprum',sans-serif;
    font-weight: 700;
    text-align: center;
    padding-bottom: 15px;
    color: #000;
    text-shadow: 0 1px #fff;
    line-height: 1.2;
}

.main-bg form #text-in-form{
    font: 14px/14px 'NeoSansPro-Regular', sans-serif;
    text-align: center;
    color: #373332;
    padding-top: 15px;
    letter-spacing: 0px;
}
.main-bg form input[type="text"] {
    display: block;
    margin: 15px auto 0;
    width: 275px;
    height: 36px;
    outline: 0;
    border: 0;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    font-family: 'Cuprum',sans-serif;
    line-height: 20px;
    color: #7d7d7d;
    padding: 0 10px;
    background: url(../images/input-bg.png) no-repeat;
}
.main-bg input[type="submit"] {
    width: 269px;
    height: 60px;
    font: 20px/38px 'NeoSansPro-Regular', sans-serif;
    display: block;
    text-align: center;
    border: 0;
    font-weight: 700;
    margin: 20px auto 0;
    color: #000;
    text-shadow: 0 1px #fff;
    background: url(../images/btn-s.png) no-repeat;
    cursor: pointer;
}
.main-bg input[type="submit"]:hover {
  background: url(../images/btn-s-h.png) no-repeat;
}



/*line*/
.group-main {
  width: 100%;
  height: 100px;
  /*background: green;*/
}

.item-main>img {
  float: left;
}
.item-main {
  float: left;
  width: 300px;
  margin-right: 25px;

    letter-spacing: -1px;
}
.item-main:nth-child(1){
  width: 200px;
}
.item-main:nth-child(2){
  width: 235px;
}
.item-main:nth-child(3){
  width: 235px;
}
.item-main:nth-child(4){
  width: 210px;
  margin-right: 0px;
}
.item-main:nth-child(1) #itm {
    margin: 0 0 0 70px;
}
.item-main #itm {
    margin: 0 0 0 60px;
    font: bold 26px/21px 'NeoSansPro-Regular', sans-serif;
    text-align: left;
    color: #419405;
}
.item-main #itm span {
    /*margin: 0 0 0 80px;*/
    font: 18px/1px 'NeoSansPro-Regular', sans-serif;
    color: black;
        letter-spacing: -1px;
}
/*line*/

#price2 {
  width: 100%;
  height: 897px;
  /*background: #DCEEEF;*/
  background: url(../images/cost-bg.png);
  background-size: cover;
  padding: 20px 0;
}
#price2 h4 {
    font: bold 46px/46px 'NeoSansPro-Regular', sans-serif;
    text-align: center;
}
#price2 h4:before {
  /*content: "\f089";*/
    display: inline-block;
    font: normal normal normal 5px/1px FontAwesome;
    font-size: 25px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
#price2 h4:after {
  /*content: "\f0ad";*/
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}


.item-group-price2 {
  margin: 0 auto;
  margin-top: 20px;
  position: relative;
  width: 950px;
  height: 800px;
}

.item-price2 {
  float: left;
  margin-right: 10px;
    width: 308px;
    background: white;
    border-radius: 5px;
    padding: 3px;
    border: 1px solid #616060;
}
.item-price2>h2 {
position: absolute;
font: bold 26px/26px 'NeoSansPro-Regular', sans-serif;
color: white;
text-align: center;
margin-top: 15px;
width: 300px;
z-index: 88;
}
.item-price2>img {
position: absolute;
width: 300px;
}

.item-price2 .cost img{
  width: 100%;
  height: 225px;
}

.item-price2>p {
    font: 15px/13px 'NeoSansPro-Regular', sans-serif;
    color: #525208;
    line-height: 20px;
    margin-top: 6px;
    margin-left: 22px;
    text-align: left;
}


.item-price2>h1 {
    font: bold 22px/42px 'NeoSansPro-Regular', DroidSans;
    padding: 0 10px;
    background: #F1F0EF;
    color: #278EFB;
    margin-top: 20px;
    text-align: center;
}

.item-price2>.price-button2{
    display: block;
    font: 17px/15px 'NeoSansPro-Regular', sans-serif;
    color: #000;
    width: 205px;
    height: 45px;
    line-height: 44px;
    margin: 0 auto;
    background: url(../images/calculate-bg.png) no-repeat;
    border-radius: 3px;
    margin-bottom: 20px;
    margin-top: 35px;
    text-align: center;

}
.item-price2>.price-button2:hover{
    background: url(../images/calculate-bg-h.png) no-repeat;
}
.item-price2:nth-child(1){height: 600px;}
.item-price2:nth-child(2){height: 635px;}
.item-price2:nth-child(3){height: 774px; margin-right: 0px;}



/*BEGIN 5 screen*/
#price {
	width: 100%;
	text-align: center;
    background: url(../images/bg-3.jpg);
	background-size: cover;
	padding: 50px 0 20px 0;
	height: 1001px;
}

#price>.container>h1 {
    text-align: center;
    font: bold 46px/46px 'NeoSansPro-Regular', sans-serif;
    margin: 20px 0;
    line-height: 55px;
    font-weight: 700;
  padding: 0px 0 10px 0;
}
.cont-price-block {
	padding: 0px;
	width: 100%;
	height: 460px;
	/*margin-top: 195px;*/
}

.item-price {
	display: inline-block;
	float: left;
	width: 295px;
	height: 585px;
	margin: 0 auto;
	margin-right: 30px;
	margin-top: 20px;
	margin-bottom: 20px;
    background: #E1FDE1;
	border: 1px solid #dad7d7;
	border-radius: 10px;
	cursor: default;

      position: relative;
}

.item-price .cost {position: relative;}
.item-price .cost img{
  width: 293px;
}
.item-price:nth-child(2) .cost img{
  width: 309px;
}

.item-price:nth-child(1) h2 {
	font: bold 17px/17px 'NeoSansPro-Regular', sans-serif;
	text-transform: uppercase;
	/*margin: 30px 0 25px 0;*/
  /*color: #34BD85;*/
	color: #fff;

    position: absolute;
    top: 20px;
    left: 75px;
    z-index: 2;
}
.item-price:nth-child(2) h2 {
	font: bold 22px/22px 'NeoSansPro-Regular', sans-serif;
	text-transform: uppercase;
/*	margin: 30px 0 25px 0;
	color: #46B5F9;*/

  color: #fff;
    position: absolute;
    top: 20px;
    left: 65px;
    z-index: 2;
}
.item-price:nth-child(3) h2 {
	font: bold 17px/17px 'NeoSansPro-Regular', sans-serif;
	text-transform: uppercase;
	/*margin: 30px 0 25px 0;*/
	/*color: #E0C810;*/

  color: #fff;
    position: absolute;
    top: 20px;
    left: 75px;
    z-index: 2;
}
.item-price h1 {
    font: bold 22px/42px 'NeoSansPro-Regular', DroidSans;
    padding: 0 10px;
    background: #F1F0EF;
    color: #278EFB;
    margin-top: 20px;
}
.item-price p {
    font: 15px/13px 'NeoSansPro-Regular', sans-serif;
    color: #525208;
    line-height: 20px;
    margin-top: 6px;
    margin-left: 22px;
    text-align: left;
}

.fa-check:before {
    content: "\f00c";
	color: #0CD40C;
}
.price-button{
	display: block;
	font: bold 15px/15px 'NeoSansPro-Regular', sans-serif;
	/*text-transform: uppercase;*/
	color: #000;
	width: 205px;
	height: 45px;
	line-height: 44px;
	margin: 0 auto;
	background: url(../images/calculate-bg.png) no-repeat;
	border-radius: 3px;
	margin-bottom: 20px;
    margin-top: 35px;
}

.item-price:nth-child(2) {
	width: 310px;
	height: 609px;
	margin: 0;
	margin-top: 0;
	margin-right: 30px;
	margin-bottom: 20px; 
} 
.item-price:nth-child(2) h1 {
    font: bold 22px/42px 'NeoSansPro-Regular', DroidSans;
    padding: 0 10px;
    background: #F1F0EF;
    color: #278EFB;
    margin-top: 20px;
}
.item-price:nth-child(2) p {
	color: #525208;
}

.item-price:last-child {
	margin-right: 0;
	height: 780px;
}

.item-price:last-child h1 {
    font: bold 22px/42px 'NeoSansPro-Regular', DroidSans;
    padding: 0 10px;
    background: #F1F0EF;
    color: #278EFB;
    margin-top: 20px;
}


/*END 5 screen*/




#lowprice {
	width: 100%;
	padding: 25px 0;
	height: 365px;
      background: url(../images/bg-present.jpg) center;
      background-size: cover;
 }


#lowprice h1{
	text-align: center;
    font: bold 22px/22px 'NeoSansPro-Regular', sans-serif;
    /*color: white;*/
}
#lowprice h1:before{
    content: "\f06b";
    margin-right: 20px;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
#lowprice h1:after{
    content: "\f06b";
    margin-left: 20px;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


#lowprice p{
	text-align: center;
    font: bold 22px/22px 'NeoSansPro-Regular', sans-serif;
    margin: 20px 0;
}
#lowprice h5{
	text-align: center;
    font: bold 15px/15px 'NeoSansPro-Regular', sans-serif;
    margin: 20px 0;
}



/*form*/
#lowprice form {
    width: 645px;
    height: 110px;
     /*outline: 1px solid blue; */
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px 10px;
}
#lowprice form input[type="text"] {
    width: 215px;
    height: 43px;
    line-height: 21px;
    border-radius: 5px;
    font: italic 16px/16px "Tahome", sans-serif;
    color: #947e59;
    text-align: left;
    padding-left: 10px;
    background: white;
    border: none;
}
#lowprice input[type="submit"] {
    width: 150px;
    height: 43px;
    line-height: 21px;
    border-radius: 5px;
    font: italic 16px/16px "Tahome", sans-serif;
    color: #FFFFFF;
    text-align: left;
    padding: 10px;
    /*background: #34BD85;*/
    background: url(../images/zakazsk.png) no-repeat;
    border: none;
    cursor: pointer;
}
#lowprice input[type="submit"]:hover {
  background: #23825B;
  color: #D4D2D2;
}





#order-now {
    width: 100%;
    height: 1100px;
    background: url(../images/bullet-back.jpg)no-repeat center bottom;
}

#order-now .idea {
    margin: 0 auto;
    width: 301px;
    height: 141px;
    background: url(../images/bg-skill.png) no-repeat center;
    padding: 32px;
}

#order-now .idea p {
    display: block;
    width: 64px;
    height: 64px;
    background: url(../images/idea13.png) no-repeat center bottom;
    margin: 0 auto;
}
#order-now h1 {
	text-align: center;
    font: bold 46px/46px 'NeoSansPro-Regular', sans-serif;
    margin: 20px 0;
    line-height: 55px;
    font-weight: 700;
}
.contains-item{
	    margin-top: 87px;
}
.item-order {
	float: left;
	width: 450px;
	height: 200px;
	/*outline: 1px solid red;*/
}
.item-order img{
	float: left;
	margin: 0 15px 0 0;
  width: 30%;
}

.sub-item {
	float: left;
	width: 235px;
}

.sub-item h3{
	text-align: left;
    font: bold 19px/21px 'NeoSansPro-Regular', sans-serif;
    margin: 10px 0;
}
.sub-item p{
	text-align: left;
    font: bold 14px/14px 'NeoSansPro-Regular', sans-serif;
    font-weight: 400;
    margin: 10px 0;
}




#filter {
	width: 100%;
	height: auto;
      padding: 0 0 50px 0;
	/*height: 1900px;*/
	background: url(../images/remont-zala.jpg)no-repeat;
	background-size: cover;
	box-shadow: inset 0px 34px 103px -27px rgba(0,0,0,0.28);
}


#filter  .idea {
    margin: 0 auto;
    width: 301px;
    height: 141px;
    background: url(../images/bg-skill.png) no-repeat center;
    padding: 32px;
}

#filter .idea p {
    display: block;
    width: 64px;
    height: 64px;
    background: url(../images/hammer2.png) no-repeat center bottom;
    margin: 0 auto;
}
#filter  h1 {
	text-align: center;
    font: bold 46px/46px 'NeoSansPro-Regular', sans-serif;
    margin: 20px 0;
    line-height: 55px;
    font-weight: 700;
}

/*filter*/

/* ---- button ---- */
.button {
  display: inline-block;
  padding: 0.5em 1.0em;
  background: none;
  border: none;
  border-radius: 7px;
  /*background-image: linear-gradient( to bottom, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.2) );*/
  color: #222;
  font: 26px/26px 'NeoSansPro-Regular', sans-serif;
  font-size: 16px;
  /*text-shadow: 0 1px white;*/
  cursor: pointer;
}

.button:hover {
  color: black;
}

.button:active,
.button.is-checked:before {
  /*background-color: #28F;*/
      content: "\2605";
}

.button.is-checked {
  color: #999;
  /*text-shadow: 0 -1px hsla(0, 0%, 0%, 0.8);*/
}

.button:active {
color: #ccc;
}

/* ---- button-group ---- */
.button-group {
  width: 745px;
  margin: 0 auto;
}
.button-group:after {
  content: '';
  display: block;
  clear: both;
}

.button-group .button {
  float: left;
  border-radius: 0;
  margin-left: 50px;
  /*margin-left: 36px;*/
  margin-right: 1px;
}

/*.button-group .button:first-child { border-radius: 0.5em 0 0 0.5em; }*/
/*.button-group .button:last-child { border-radius: 0 0.5em 0.5em 0; }*/

/* ---- isotope ---- */

.isotope {
  /*border: 1px solid #333;*/
}

/* clear fix */
.isotope:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .item ---- */

.item {
  position: relative;
  float: left;
  width: 235px;
  height: 190px;
  margin: 2px;
  /*padding: 10px;*/
  background: #888;
  color: #262524;
}

.item > * {
  margin: 0;
  padding: 0;
}

.item .name {
  position: absolute;
  left: 10px;
  top: 60px;
  text-transform: none;
  letter-spacing: 0;
  font-size: 12px;
  font-weight: normal;
}

.item .symbol {
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 42px;
  font-weight: bold;
  color: white;
}

.item .number {
  position: absolute;
  right: 8px;
  top: 5px;
}

.item .weight {
  position: absolute;
  left: 10px;
  top: 76px;
  font-size: 12px;
}

.item.alkali          { background: #F00; background: hsl(   0, 100%, 50%); }
.item.alkaline-earth  { background: #F80; background: hsl(  36, 100%, 50%); }
.item.lanthanoid      { background: #FF0; background: hsl(  72, 100%, 50%); }
.item.actinoid        { background: #0F0; background: hsl( 108, 100%, 50%); }
.item.transition      { background: #0F8; background: hsl( 144, 100%, 50%); }
.item.post-transition { background: #0FF; background: hsl( 180, 100%, 50%); }
.item.metalloid       { background: #08F; background: hsl( 216, 100%, 50%); }
.item.diatomic        { background: #00F; background: hsl( 252, 100%, 50%); }
.item.halogen         { background: #F0F; background: hsl( 288, 100%, 50%); }
.item.noble-gas       { background: #F08; background: hsl( 324, 100%, 50%); }


/*filter*/


#faq {
	width: 100%;
	height: 1411px;
	background: url(../images/bullet-back.jpg)no-repeat center;
}

#faq  .idea {
    margin: 0 auto;
    width: 301px;
    height: 141px;
    background: url(../images/bg-skill.png) no-repeat center;
    padding: 32px;
}

#faq .idea p {
    display: block;
    width: 64px;
    height: 64px;
    background: url(../images/bald22.png) no-repeat center bottom;
    margin: 0 auto;
}
#faq  h1 {
	text-align: center;
    font: bold 46px/46px 'NeoSansPro-Regular', sans-serif;
    margin: 20px 0;
    line-height: 55px;
    font-weight: 700;
}

.grout-items {
	/*outline: 1px solid blue;*/
}

.faq-item {
    width: 100%;
    height: 209px;
    padding-top: 14px;
    /* outline: 1px solid red; */
    border-bottom: 1px dashed #502258;;
}

.faq-item img {
	float: left;
	margin-right: 10px;
}

.faq-item h4 {
	float: left;
	margin-right: 10px;
    font: bold 26px/26px 'NeoSansPro-Regular', sans-serif;
    line-height: 26px;
    display: block;
    width: 588px;
    margin-bottom: 12px;
}
.faq-item p {
	float: left;
	display: block;
    font: 16px/16px 'NeoSansPro-Regular', sans-serif;
	width: 800px;
}


#phone-nomber {
	width: 100%;
	height: 250px;

}


#phone-nomber-insite {
	width: 100%;
	height: 100%;
	background: url(../images/r1.jpg) no-repeat center;
	background-size: cover;
	  -webkit-filter: blur(5px);
     -moz-filter: blur(5px);
       -o-filter: blur(5px);
      -ms-filter: blur(5px);
          filter: blur(5px);
}

#phone-nomber h1 {
    text-align: center;
    font: bold 24px/24px 'NeoSansPro-Regular', sans-serif;
    position: relative;
    top: 140px;
    display: block;
    z-index: 99;
    color: white;
}
#phone-nomber h1 a{
    font: bold 24px/24px 'NeoSansPro-Regular', sans-serif;
	color: white;
  border-bottom: 3px dashed white;
}
#phone-nomber h1 a:hover {
  color: #2B75D4;;
	border-bottom: 3px dashed #2B75D4;
}
#phone-nomber p {
    text-align: center;
    font: bold 19px/3px 'NeoSansPro-Regular', sans-serif;
    position: relative;
    top: 169px;
    display: block;
    z-index: 99;
    color: white;
}

#phone-nomber p span{
    font: bold 26px/26px 'NeoSansPro-Regular', sans-serif;

}


#icons {
  width: 100%;
  height: 177px;
  background: white;
  padding-top: 100px;
}

#icons .container-icons{
  float: left;
}

#icons h3{
  float: right;
  text-align: right;
    font: 18px/25px 'NeoSansPro-Regular', sans-serif;
        color: #2C8190;
}

#icons p{
  float: right;
  margin-top: 50px;
  font: bold 18px/18px 'NeoSansPro-Regular', sans-serif;
}


















.main{
  width: 600px;
  margin: 20px auto;
}

.container-tabs-items .active { 
  background: #EAC923;
}

.tabs {
  width: 220px;
  margin: 0 auto;
}

.tab {
    width: 50px;
    height: 10px;
    background-color: #499FF7;
  cursor: pointer;
  display: inline-block;
  position: relative;
  z-index: 2;
}

.tab-item {
  width: 660px;
  height: 406px;
}
.tab-item .first {
  float: left;
  width: 150px;
  height: auto;
}
.tab-item .first>img:first-child{
  border: 1px solid #ddd;
  border-radius: 50%;
  float: left;
}
.tab-item .first>p{
  font: bold 23px/23px 'NeoSansPro-Regular', sans-serif;
    margin: 10px 0 0 20%;
}
.tab-item a>img{
  width: 400px;
  height: 400px;
  border: 1px solid #ddd;
  float: left;
  margin-left: 20px;
}


/*myltiply popup*/
.link-over-box {
 display:inline-block;
 /*padding:10px;*/
 /*margin:10px;*/
 cursor:pointer;

}
.over-box {
 z-index:9;
 position:fixed;
 margin-left: 42%;
 top:33%;
 display:none;
 padding:5px;
 background-color:#ffffff;
 color:#97BF0D;
}

.over-box_close {
    color: #CB2025;
    cursor: pointer;
    font-weight: 400;
    font-size: 14px;
    /* overflow: auto; */
    /* outline: 1px solid #f00; */
    width: 11px;
    /* height: 60px; */
    /* margin: 0 auto; */
    display: block;
    margin-top: -21px;
    margin-left: 10px;
}
#background-under-box {
 display: none;
 background-color: #44795C;
 opacity: 0.9;
 width:100%;
 height:100%;
 z-index: 110;
 position:fixed;
 top:0;
 bottom:0;
 right:0;
 left:0;
}

#box_eko,
#box_pre,
#box_lux,
#box_1 {
    border-radius: 17px;
    background: rgba(255,255,255,0.6);
    width: 361px;
    height: 278px;
  padding: 25px 0 0 0;
  z-index: 112;

}
#box_eko form ,
#box_pre form ,
#box_lux form ,
#box_1 form {
    width: 119px;
    height: 110px;
    /* outline: 1px solid blue; */
    margin: 50px 0 50px 15px;
}

#box_eko form input[type="text"],
#box_pre form input[type="text"],
#box_lux  form input[type="text"],
#box_1 form input[type="text"]
 {
    width: 321px;
    height: 43px;
    line-height: 21px;
    border-radius: 5px;
    font: italic 16px/16px "Tahome", sans-serif;
    color: #947e59;
    text-align: left;
    background: white;
    padding-left: 10px;
    border: none;
    margin: 5px 0;
}

#box_eko form input[type="submit"],
#box_pre form input[type="submit"],
#box_lux  form input[type="submit"],
#box_1 input[type="submit"] {
    margin-top: 23px;
    width: 322px;
    height: 42px;
    border-radius: 5px;
    background: linear-gradient(#FFED6A,#F7D123);
    border: none;
        font: 20px/38px 'NeoSansPro-Regular', sans-serif;
    color: #000;
    cursor: pointer;
}

#box_eko form input[type="submit"]:hover,
#box_pre form input[type="submit"]:hover,
#box_lux  form input[type="submit"]:hover,
#box_1 input[type="submit"]:hover {
    background: linear-gradient(#F7D123,#FFED6A);
    /*background: linear-gradient(#FFED6A,#F7D123);*/
}
/*myltiply popup*/